@model Sample2.Models.Registration


@{
    ViewBag.Title = "Contact";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<style>
div.ex1 {
    margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 210px;
  margin-left: 210px
}
</style>
<div class="ex1">


    <h2>Contact</h2>
    <p>
        <span>949.200.7192</span>
    </p>




<header>
    <h2>Email</h2>
</header>
<p>
    @Html.ValidationSummary()
</p>

@using (Html.BeginForm())
{
    <p>Name: @Html.TextBoxFor(model => model.Name)</p>
    <p>Email: @Html.TextBoxFor(model => model.Email)</p>
    <p>Mobile: @Html.TextBoxFor(model => model.Mobile)</p>
    <p>Message:</p>
    <p>@Html.TextAreaFor(model => model.Message)</p>
    <p>
        <input type="submit" value="Submit" />
    </p>
}       
    
    <header>
        <h2>Address</h2>
    </header>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3417.7846796448825!2d-117.8683993432388!3d33.67045177310966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdef77efc030b%3A0x9cea04752b82c722!2s4540+Campus+Dr%2C+Newport+Beach%2C+CA+92660!5e0!3m2!1sen!2sus!4v1557872191919!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>
        4540 Campus Dr<br />
        Newport Beach, CA 92660
    </p>
</div>


                    <br></br>
                    <br></br>
                    <br></br>